<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Energieagentur Bünzli</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/chart.css') }}">
</head>
<body>
    <div id="loader"></div>
    <header class="header" id="header">
        <span>Energieagentur Bünzli</span>
        <div class="header-buttons">
            <div class="daterange-container">
                <input type="text" name="daterange" id="daterange" value="01-01-2019 00:00 - 02-01-2019 23:00" class="daterange-input"/>
                <span class="daterange-icon">&#x1F4C5;</span>
            </div>
            <!-- Account Button with Dropdown -->
            <div class="account-dropdown">
                <button id="accountDropdownButton" class="header-button account-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" alt="Account Icon" class="account-icon" />
                </button>
                <div class="account-dropdown-content">
                    <button id="darkModeToggle" class="header-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/439/439842.png" alt="Light Mode Icon" class="dark-mode-icon" />
                        <strong>Dark Mode</strong>
                    </button>
                    <button id="uploadButton" class="header-button upload-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/1091/1091223.png" alt="Upload Icon" class="upload-icon" />
                        <strong>Upload</strong>
                    </button>
                    <a href="#" id="downloadCSV" class="header-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/1091/1091007.png" alt="Download Icon" class="download-icon" />
                        <strong>Download CSV</strong>
                    </a>
                    <a href="#" id="downloadJSON" class="header-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/1091/1091007.png" alt="Download Icon" class="download-icon" />
                        <strong>Download JSON</strong>
                    </a>
                    <button id="postButton" class="header-button">
                        <img src="https://cdn-icons-png.flaticon.com/512/2501/2501014.png" alt="Paper Plane Icon" class="post-icon" />
                        <strong>POST</strong>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div id="dragDropArea" class="drag-drop-area">
        <p>Drag & Drop ESL and SDAT files onto the dashed area</p>
        <div class="button-container">
            <button id="browseButton" class="action-button">Browse Files</button>
            <button id="submitButton" class="action-button">Submit</button>
        </div>
        <input type="file" id="fileInput" accept=".xml" multiple style="display: none;">
        <div id="fileList" class="file-list"></div> <!-- Container for the file list -->
    </div>
    <div class="content" id="content">
        <div class="main-wrapper">
            <div class="main-content bar-chart-wrapper">
                <div class="chart-container">
                    <canvas id="combinedChart"></canvas>
                </div>
            </div>
            <div class="info-boxes">
                <div class="info-box" id="total-inflow">
                    Total Bezug: <span id="total-inflow-value">0 kWh</span>
                </div>
                <div class="info-box" id="total-outflow">
                    Total Einspeisung: <span id="total-outflow-value">0 kWh</span>
                </div>
                <div class="info-box" id="average">
                    <canvas id="pieChart"></canvas>
                </div>
                <div class="info-box" id="time-difference">
                    Zeitraum: <span id="time-differnce-value">-</span>
                </div>
            </div>
        </div>
        <div class="bar-chart-wrapper">
            <div class="bar-chart-container">
                <canvas id="barChart"></canvas>
            </div>
        </div>

        <div class="bar-chart-wrapper">
            <div class="chart-container">
                <canvas id="lineChart"></canvas> <!-- New Canvas for Verbrauch & Einspeisung -->
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="{{ url_for('static', filename='script/chart.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script>
</body>
</html>
