<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Energy Consumption and Inflow</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/chart.css') }}">
</head>
<body>
    <div id="loader"></div>
    <div class="container hidden" id="content">
        <h1 class="text-2xl font-bold mb-4">Energy Consumption and Inflow</h1>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="chart-container">
                        <canvas id="inflowChart"></canvas>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="chart-container">
                        <canvas id="outflowChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script/chart.js') }}"></script>
</body>
</html>
